#activity/target/classes/application.properties
#activity/target/classes/com/example/activity/ActivityApplication.class
#activity/target/classes/com/example/activity/api/controllers/ActivityRestController.class
#activity/target/classes/com/example/activity/beans/Activity.class
#activity/target/classes/com/example/activity/enums/ActivityDistanceEnum.class
#activity/target/classes/com/example/activity/enums/ActivityDistanceEnum$1.class
#activity/target/classes/com/example/activity/enums/ActivityDistanceEnum$2.class
#activity/target/classes/com/example/activity/enums/ActivityDistanceEnum$3.class
#activity/target/classes/com/example/activity/enums/ActivityDistanceEnum$4.class
#activity/target/classes/com/example/activity/enums/ActivitySpeedEnum.class
#activity/target/classes/com/example/activity/enums/ActivitySpeedEnum$1.class
#activity/target/classes/com/example/activity/enums/ActivitySpeedEnum$2.class
#activity/target/classes/com/example/activity/enums/ActivitySpeedEnum$3.class
#activity/target/classes/com/example/activity/enums/ActivityTypeEnum.class
#activity/target/classes/com/example/activity/Exceptions/ActivityNotFoundAdvice.class
#activity/target/classes/com/example/activity/testRepository/LoadDatabase.class

.classpath
.project
.settings/
target/
*/target/**

# VS CODE
.vscode